#!/usr/bin/env ansible-playbook

- name: Gather prerequisites
  hosts: all
  gather_facts: True
  tasks:
    - name: create groups based on distribution
      group_by: key={{ ansible_distribution }}

- name: Custom Desktop tweaks
  hosts: Ubuntu 
  sudo: True 
  tasks:
      - name: Add silly environment variable
        lineinfile: dest=/etc/environment line='CUSTOM_MSAL_WAS_HERE=true'
      - name: Copy Git configuration file
        copy: src=files/.gitconfig dest=/home/vagrant/.gitconfig owner=vagrant group=vagrant mode=644 backup=no
      - name: set editor to VI
        lineinfile: dest=/home/vagrant/.bashrc line="set -o vi"
      - name: Copy login icon  
        copy: src=files/randy.png dest=/home/vagrant/.face owner=vagrant group=vagrant backup=no mode=644
      - name: Create the terminal configuration folder 
        file: path=/home/vagrant/.config/xfce4/terminal state=directory group=vagrant owner=vagrant 
      - name: Copy terminal configuration  
        copy: src=files/terminalrc dest=/home/vagrant/.config/xfce4/terminal/terminalrc owner=vagrant group=vagrant backup=no mode=644
      - lineinfile: dest=/etc/hosts line='192.168.1.10 skaro'
      - name: Create destination directory
        file: path=/home/vagrant/bin owner=vagrant group=vagrant state=directory mode=755
      - name: Change the hostname 
        hostname: name=nowehere
      - lineinfile: dest=/etc/hosts line='127.0.0.1 nowhere'
      - git: repo=https://github.com/kurron/jvm-development-environment.git dest=/home/vagrant/GitHub/kurron/jvm-development-environment
      - git: repo=https://github.com/kurron/ansible-pull-development.git dest=/home/vagrant/GitHub/kurron/ansible-pull-development
      - git: repo=https://github.com/kurron/ansible-pull-docker.git dest=/home/vagrant/GitHub/kurron/ansible-pull-docker
      - git: repo=https://github.com/kurron/ansible-pull-operations.git dest=/home/vagrant/GitHub/kurron/ansible-pull-operations
      - git: repo=https://github.com/kurron/ansible-pull-transparent.git dest=/home/vagrant/GitHub/kurron/ansible-pull-transparent
      - git: repo=https://github.com/msal98/ansible-pull-desktop-tweaks.git dest=/home/vagrant/GitHub/msal98/ansible-pull-desktop-tweaks
      - name: Set permissions on the home directory
        file: path=/home/vagrant owner=vagrant group=vagrant recurse=true state=directory

- name: Tools I Like
  hosts: Ubuntu
  sudo: True
  tasks:
      - apt: name=tree state=latest
      - apt: name=tmux state=latest
      - apt: name=sysstat state=latest
      - apt: name=iotop state=latest
      - apt: name=iftop state=latest
      - apt: name=wireshark state=latest
      - apt: name=chromium-browser state=latest

